.gpa-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-left: 9%;
  background-color: #f4f4f9;
  border-radius: 10px;
}

.gpa-side-container{
  display: flex;
  margin-top: 6%;
  flex-direction: row;
}

.gpa-title {
  text-align: center;
  color: #333;
}

.gpa-inputs, .course-inputs {
  margin-bottom: 20px;
}

.gpa-input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.gpa-input-label {
  font-weight: bold;
  color: #555;
}

.gpa-input {
  width: 45%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.course-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.course-input {
  width: 30%;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-course-btn {
  background-color: #008CBA;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.remove-course-btn {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.remove-course-btn:hover {
  background-color: #e53935;
}

.calculate-gpa-btn {
  display: flex;
  align-items: center;
  background-color: rgb(161, 103, 216);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

.gpa-result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.gpa-result-text {
  color: #555;
}

input[type="number"], input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover {
  opacity: 0.9;
}

.add-course-btn:hover {
  background-color: #007b8a;
}

.calculate-gpa-btn:hover {
  background-color: rgb(191, 125, 253);
}
